<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recyclerview">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".feedback"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".commonweb2"
            android:configChanges="screenSize|orientation" />
        <activity android:name=".islamic" />
        <activity android:name=".liveradio" />
        <activity android:name=".livetv" />
        <activity android:name=".binodon" />
        <activity android:name=".sikkha" />
        <activity android:name=".chakri" />
        <activity android:name=".khela" />
        <activity android:name=".international" />
        <activity android:name=".english" />
        <activity android:name=".jatiyo" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7076860777204313~2986517262"/>

        <activity android:name=".zillanewspaper" />
        <activity
            android:name=".commonweb"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".zillavittik" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>